body{
    background: linear-gradient(180deg, #808EC0 0%, rgba(167.25, 162.56, 196.05, 0) 100%);
    min-height: 100vh;
    margin: 0; 
}

a{
    background-color: transparent;
    color: #F0F8FF;
    font-family: Bungee Spice;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.brand {
    font-family: Bungee Spice;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #F0F8FF;
}
