@import url('https://fonts.googleapis.com/css?family=Bungee Spice');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    background: linear-gradient(180deg, #808EC0 0%, rgba(167.25, 162.56, 196.05, 0) 100%);
    min-height: 100vh;
    margin: 0;
}

a{
    background-color: transparent;
    color: #F0F8FF;
    font-family: Bungee;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#PayText{
    position:absolute;
    font-family: Bungee;
    left:30%;
}

.brand {
    font-family: Bungee;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #F0F8FF;
}

.container > * {
    max-width: 35vw;
}

.circle {
    width: 485px;
    height: 410px;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    border-radius: 60%;
    overflow:hidden;
    margin: 14% 40%;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:-10%;
    left:-35%;
    display:flex;


}

