{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	
	{% block css %}
	{% endblock %}

	{% block title %}
	{% endblock %}

</head>
<body>

	{% block nav_header %}
	{% include 'templates/nav.html' %}
	{% endblock %}

	{% block content %}
	{% include 'templates/index.html' %}
	{% endblock %}

	{% block nav_footer %}
	{% include 'templates/footer.html' %}
	{% endblock %}

	{% block js %}
	{% endblock %}

</body>
</html>