{% extends 'base.html' %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <p class="p1">Halo, Selamat datang</p>
    <h1 class="headings1">Kantin ITB</h1>
    <p class="p2">Pesan dimana saja dengan mudah dan nyaman</p>
    <div class="buttons">
        <a href="{% url 'login' %}" class="login">Login</a>
        <a href="" class="guest">Guest</a>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}