<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->   
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="red navbar">
            <button id="profile">PROFILE</button>
            <button id="pesan">PESAN</button>
            <button id="menu">MENU</button>
            <button id="home">HOME</button>
    </div>
    <div class="container">
        <div class="green grow"></div>
        <div class="blue grow"></div>
    </div>
</body>
</html>