{% extends 'base.html' %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ItemDetail.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="row no-gutters flex-nowrap">
            <img src="{{ menu_item.image.url }}" alt="" class='card-img'>
            <div>
                <h2>{{ menu_item.name }}</h2>
                <p>{{ menu_item.description }}</p>
                <p>{{menu_item.price}}</p>
            </div>
        </div>
        <div class="form-group pt-3">
            <form method=POST action="">
                {% csrf_token %}
                <div class="qty mb-5 mt-5">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="items[]" value="1">
                    <span class="plus bg-dark">+</span>
                </div>
                <button class="btn btn-dark mt-5">Place Order!</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/ItemDetail.js' %}"></script>
{% endblock %}