{% extends 'base.html' %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ItemDetail.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="headings1">
        <span class="color1">Menu{</span><span class="color2">Kantin}</span>
    </h1>
    <div class="grd-makanan-container">
        <div class="pt-5">
            <div id='clickable' class='subgrid'>
                <img src="{{ food.image.url }}" alt="">
                <div>
                    <h2>{{ food.name }}</h2>
                    <p>{{ food.description }}</p>
                    <p>{{food.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}