{% extends 'base.html' %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ItemDetail.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% csrf_token %}
    <div class="card">
        <h1 class="headings1">
            <span class="color1">Menu{</span><span class="color2">{{kantin.name}}}</span>
        </h1>
        <div class="row no-gutters flex-nowrap">
            <img src="{{ menu_item.image.url }}" alt="" class='card-img'>
            <div>
                <h2>{{ menu_item.name }}</h2>
                <p>{{ menu_item.description }}</p>
                <p>{{menu_item.price}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}