<html>
  <head>
    <link rel="stylesheet" href="../static/css/keranjang.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <p class="kiri">Milestone 15</p>
        <ul class="kanan">
          <li><a href="">Home</a></li>
          <li><a href="">Menu</a></li>
          <li><a href="">Pesan</a></li>
          <li><a href="">Profile</a></li>
        </ul>
      </div>
      <div>
        <div class="content">
          <h1 class="gede">Keranjang Kantin</h1>
          <button>
            <p class="textbut">Total : RpX.XXX.XXX,00</p>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>