{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Payment Success Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/paymentSuccess.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand brand" href="{% url 'home' %}">Milestone 15</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> <!-- This span is necessary for the hamburger icon -->
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kantin' %}">Kantin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<div class="container-fluid vh-100 vw-100 d-flex flex-column">-->
<!--    <p class="p1">Halo, Selamat datang</p>-->
<!--    <h1 class="headings1">Kantin ITB</h1>-->
<!--    <p class="p2">Pesan dimana saja dengan mudah dan nyaman</p>-->
<!--    <div class="buttons">-->
<!--        <a href="{% url 'logout' %}">Logout</a>-->
<!--        <a href="{% url 'login' %}" class="login">Login</a>-->
<!--        <a href="" class="guest">Guest</a>-->
<!--    </div>-->
<!--</div>-->




<div id="PayText">
    <h1>Pembayaran Sukses</h1>
    <div class="circle">
        <img width="400" height="400" src="https://img.memegenerator.net/instances/600x600/84296093.jpg" >
    </div>
</div>




</body>
</html>